examples/out.exe
.vs/geom_moments/v16/ipch/AutoPCH/6163d37bf5b0b7bd/GEOM_MOMENTS.ipch
.vs/geom_moments/v16/ipch/AutoPCH/504ecebe79a8c126/EXAMPLE1.ipch
.vs/geom_moments/v16/Browse.VC.db
.vs/geom_moments/v16/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
examples/geometry.stl
examples/geometry.stl
